@(title: String)(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import play.i18n._

<!DOCTYPE html>


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

<title>@title</title>
</head>
<body>
<div class="container">
<div class="navbar">
	<div class="navbar-inner"> 
	
		<ul class="nav nav-tabs">
			<li><a href="/">@Messages.get("navHome")</a>
			
			<li><a href="/games">@Messages.get("navGameslist")</a></li>
			
			<li><a href="/platforms">@Messages.get("navPlatforms")</a></li>
			
			<li><a href="/languages">@Messages.get("navLanguage")</a></li>
			
			@restrict(la(as("Admin"))) {
				<li><a href="/admin">@Messages.get("navAdmin")</a></li>
			}

<!-- 			<img src="/assets/images/oregami_logo.png" border="0"> -->
		</ul>
	</div>
</div>
<!-- content start -->
@content
<!-- content end -->


<br/><br/><hr/>
@subjectNotPresent() {
	<a href="/login"><span class="btn btn-small">@Messages.get("btnLogin")</span></a>
	<a href="/register"><span class="btn btn-small">@Messages.get("btnRegister")</span></a>
}
@subjectPresent() {
	<a href="/logout"><span class="btn btn-small btn-danger">@Messages.get("btnLogout")</span></a> 
	<a href="/profile"><span class="btn btn-small">@Messages.get("btnProfile") (@session.get("user"))</span></a>
}
</div>
</body>
</html>
