@(title: String)(content: Html)(implicit lang: Lang)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap -->
<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

<title>@title</title>
</head>
<body>
<div class="container">
<div class="navbar">
	<div class="navbar-inner"> 
	
		<a class="brand" href="/">Oregami.dev</a>
		<ul class="nav">
			<li><a href="/games">@play.i18n.Messages.get("navGameslist")</a></li>
			
			<li><a href="/platforms">@play.i18n.Messages.get("navPlatforms")</a></li>
			
			<li><a href="/languages">@play.i18n.Messages.get("navLanguage")</a></li>

			<img src="oregami_logo.png" border="0">
			
		</ul>
	</div>
</div>
<!-- content start -->
@content
<!-- content end -->


<br/><br/><hr/>
@subjectNotPresent() {
	<a href="/login"><span class="btn btn-small">Login</span></a>
}
@subjectPresent() {
	<a href="/logout"><span class="btn btn-small">Logout</span></a> 
	<a href="/profile"><span class="btn btn-small">Profile</span></a>
}
</div>
</body>
</html>
